<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/types-standard.css"/>
  <link rel="stylesheet" href="/css/selectize.css"/>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/machineboy2045-angular-selectize2/3.0.1/angular-selectize.js" integrity="sha512-69AHJXwUQGhq3zdwVLDKwzeCDheea1xK/M0YPgNKLsDRO/DQp8jw5Tn5XquLe4//luE+3BzvVnxy54DYcmbugA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type = "text/JavaScript"
          src = "https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js">
  </script>
  <!--    <script type="application/javascript" src="/battle-info.js"></script>-->
  <!--  <link rel="manifest" href="../../manifest.json">-->
  <script type="text/javascript">{
    function hi() {
      console.log('hello'); // debug - remove
    }
    
    hi();
  }</script>
</head>
<body ng-app="pageApp" ng-controller="pageCtrl as vm">

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Add a new type</h4>
    <form>
      <div class="form-group">
        <label for="nt_name">Name:</label>
        <input ng-model="vm.edit.new_type.name" type="text" class="form-control" id="nt_name">
      </div>
      <div class="form-group">
        <label for="nt_res">Resistances:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.new_type.resistances" type="text" class="form-control" id="nt_res">
      </div>
      <div class="form-group">
        <label for="nt_str">Strengths:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.new_type.strengths" type="text" class="form-control" id="nt_str">
      </div>
      <div class="form-group">
        <label for="nt_weak">Weaknesses:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.new_type.weaknesses" type="text" class="form-control" id="nt_weak">
      </div>
      <button ng-click="vm.edit.new_type.add();" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Remove a Type</h4>
    <form>
      <div class="form-group">
        <label for="rt_name">Name:</label>
        <input ng-model="vm.edit.remove_type.name" type="text" class="form-control" id="rt_name">
      </div>
      <button type="submit" class="btn btn-default remove">Submit</button>
    </form>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Add a new type</h4>
    <form>
      <div class="form-group">
        <label for="ut_name">Name:</label>
        <input ng-model="vm.edit.update_type.name" type="text" class="form-control" id="ut_name">
      </div>
      <div class="form-group">
        <label for="ut_res">Resistances:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.update_type.resistances" type="text" class="form-control" id="ut_res">
      </div>
      <div class="form-group">
        <label for="ut_str">Strengths:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.update_type.strengths" type="text" class="form-control" id="ut_str">
      </div>
      <div class="form-group">
        <label for="ut_weak">Weaknesses:</label>
        <input placeholder="eg: Fire,Water (Must be comma separated)" ng-model="vm.edit.update_type.weaknesses" type="text" class="form-control" id="ut_weak">
      </div>
      <button ng-click="vm.edit.update_type.update();" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_one.type_search"-->
<!--        config="vm.pokemon_one.config"-->
<!--        options='vm.pokemon_one.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_two.type_search"-->
<!--        config="vm.pokemon_two.config"-->
<!--        options='vm.pokemon_two.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_three.type_search"-->
<!--        config="vm.pokemon_three.config"-->
<!--        options='vm.pokemon_three.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_four.type_search"-->
<!--        config="vm.pokemon_four.config"-->
<!--        options='vm.pokemon_four.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_five.type_search"-->
<!--        config="vm.pokemon_five.config"-->
<!--        options='vm.pokemon_five.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--  <div class="col-xs-6">-->
<!--    <selectize-->
<!--        ng-model="vm.pokemon_six.type_search"-->
<!--        config="vm.pokemon_six.config"-->
<!--        options='vm.pokemon_six.types'-->
<!--    ></selectize>-->
<!--  </div>-->
<!--</div>-->

<section style="border-style: double">
  <h2>Enemy Team</h2>
  <div class="row">
    <div class="col s2"> <img src="../img/pokeball.png" alt="Girl in a jacket" >
      <selectize
          ng-model="vm.pokemon_one.type_search"
          config="vm.pokemon_one.config"
          options='vm.p_one.types'
      ></selectize></div>
    <div class="col s2"><img src="../img/pokeball.png" alt="Girl in a jacket" ><selectize
        ng-model="vm.pokemon_two.type_search"
        config="vm.pokemon_two.config"
        options='vm.pokemon_two.types'
    ></selectize></div>
    <div class="col s2"><img src="../img/pokeball.png" alt="Girl in a jacket" ><selectize
        ng-model="vm.pokemon_three.type_search"
        config="vm.pokemon_three.config"
        options='vm.pokemon_three.types'
    ></selectize></div>
    <div class="col s2"><img src="../img/pokeball.png" alt="Girl in a jacket" ><selectize
        ng-model="vm.pokemon_four.type_search"
        config="vm.pokemon_four.config"
        options='vm.pokemon_four.types'
    ></selectize></div>
    <div class="col s2"><img src="../img/pokeball.png" alt="Girl in a jacket" ><selectize
        ng-model="vm.pokemon_five.type_search"
        config="vm.pokemon_five.config"
        options='vm.pokemon_five.types'
    ></selectize></div>
    <div class="col s2"><img src="../img/pokeball.png" alt="Girl in a jacket" ><selectize
        ng-model="vm.pokemon_six.type_search"
        config="vm.pokemon_six.config"
        options='vm.pokemon_six.types'
    ></selectize></div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col s2"><button class="btn btn-warning" ng-click="vm.calculateWeakness()">Calculate Weaknesses</button></div>
    <div class="col s2"><button data-toggle="modal" data-target="#modal1" style="background-color: blue" class="btn" >Add New Type</button></div>
    <div class="col s2"><button data-toggle="modal" data-target="#modal2" style="background-color: red" class="btn" >Remove a Type</button></div>
    <div class="col s2"><button data-toggle="modal" data-target="#modal3" style="background-color: coral" class="btn" >Update a Type</button></div>
  
  </div>
</section>


<script type="text/javascript" src="/js/builder.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="module" src="/js/db.js"></script>
</body>
</html>